.navigation{
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    background-color: #101010;
}

.navigation a li{
    vertical-align: middle;
    display: table-cell;
    font-size: 20px;
    color: white;
}

.navigation a:hover{
    background-color: gray;
    color: #101010;
}

.header{
	background-color: black;
	color: white;
}

.inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

p {
    font-size: 20px;
}

img{
    width: 20%;
    height: 20%;
    float: left;
    margin: 0 20px;

}